<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>

  </div>



  <!.. used to create a list of items that we will include in our template..>
    <div fxFlex *ngIf="dishes">
      <mat-grid-list cols="2" rowHeight="200px">

        <!.. ngfor for iterating over the array items ..>

          <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail',dish.id]">

            <!.. allows to include image ..>

              <img height="200px" src="{{BaseURL + dish.image}}" alt={{dish.name}}>

              <mat-grid-tile-footer>

                <h1> {{dish.name | uppercase}} </h1>

              </mat-grid-tile-footer>

          </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div fxFlex [hidden]="dishes">
      <mat-spinner>
      </mat-spinner>
                  <h4>Loading ..... please wait</h4>

    </div>


</div>